In [1]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv(r'C:\Users\yadav\OneDrive\Desktop\PANDAS-LONG-YT\nba.csv')

In [3]:
# 9. sample(): Display a random sample of the DataFrame
print("9. sample():")
print(df.sample(n=5))  # Displaying a random sample of 5 rows

9. sample():
                 Name                    Team  Number Position   Age Height
435    Meyers Leonard  Portland Trail Blazers    11.0       PF  24.0    7-1  \
52        Carl Landry      Philadelphia 76ers     7.0       PF  32.0    6-9
19       Jarrett Jack           Brooklyn Nets     2.0       PG  32.0    6-3
24   Chris McCullough           Brooklyn Nets     1.0       PF  21.0   6-11
105       C.J. Wilcox    Los Angeles Clippers    30.0       SG  25.0    6-5

     Weight       College     Salary
435   245.0      Illinois  3075880.0
52    248.0        Purdue  6500000.0
19    200.0  Georgia Tech  6300000.0
24    200.0      Syracuse  1140240.0
105   195.0    Washington  1159680.0

In [4]:
# 10. nunique(): Count the number of unique values in each column
print("\n10. nunique():")
print(df.nunique())

10. nunique():
Name        457
Team         30
Number       53
Position      5
Age          22
Height       18
Weight       87
College     118
Salary      309
dtype: int64

In [6]:
# 11. unique(): Display unique values in a specific column
print("\n11. unique():")
print(df['Position'].unique())  # Replace 'Column_Name' with the name of the column

11. unique():
['PG' 'SF' 'SG' 'PF' 'C' nan]

In [6]:
# 12. isnull() / notnull(): Check for missing values in the DataFrame
print("\n12. isnull() / notnull():")
print(df.isnull())
print(df.notnull())

. isnull() / notnull():
      Name   Team  Number  Position    Age  Height  Weight  College  Salary
0    False  False   False     False  False   False   False    False   False
1    False  False   False     False  False   False   False    False   False
2    False  False   False     False  False   False   False    False    True
3    False  False   False     False  False   False   False    False   False
4    False  False   False     False  False   False   False     True   False
..     ...    ...     ...       ...    ...     ...     ...      ...     ...
453  False  False   False     False  False   False   False    False   False
454  False  False   False     False  False   False   False     True   False
455  False  False   False     False  False   False   False     True   False
456  False  False   False     False  False   False   False    False   False
457   True   True    True      True   True    True    True     True    True

[458 rows x 9 columns]
      Name   Team  Number  Position    Age  Height  Weight  College  Salary
0     True   True    True      True   True    True    True     True    True
1     True   True    True      True   True    True    True     True    True
2     True   True    True      True   True    True    True     True   False
3     True   True    True      True   True    True    True     True    True
4     True   True    True      True   True    True    True    False    True
..     ...    ...     ...       ...    ...     ...     ...      ...     ...
453   True   True    True      True   True    True    True     True    True
454   True   True    True      True   True    True    True    False    True
455   True   True    True      True   True    True    True    False    True
456   True   True    True      True   True    True    True     True    True
457  False  False   False     False  False   False   False    False   False

[458 rows x 9 columns]

In [10]:
# 13. value_counts(): Count the occurrences of unique values in a column
print("\n13. value_counts():")
print(df['Age'].value_counts())  # Replace 'Column_Name' with the name of the column

13. value_counts():
Age
24.0    47
25.0    45
27.0    41
23.0    41
26.0    36
28.0    31
30.0    31
29.0    28
22.0    26
31.0    22
20.0    19
21.0    19
33.0    14
32.0    13
34.0    10
36.0    10
35.0     9
37.0     4
38.0     4
40.0     3
39.0     2
19.0     2
Name: count, dtype: int64

In [7]:
# 14. idxmax() / idxmin(): Return the index labels of the maximum or minimum values in a column
print("14. idxmax() / idxmin():")
print(df['Age'].idxmax())  # Replace 'Column_Name' with the name of the column
print(df['Age'].idxmin())

14. idxmax() / idxmin():
298
122