In [2]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv(r'C:\Users\yadav\OneDrive\Desktop\PANDAS-LONG-YT\nba.csv')

In [3]:
# 1. head(): Display the first 5 rows of the DataFrame
print("1. head():")
print(df.head())

1. head():
            Name            Team  Number Position   Age Height  Weight
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0  \
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [4]:
# 2. tail(): Display the last few rows of the DataFrame
print("\n2. tail():")
print(df.tail())

2. tail():
             Name       Team  Number Position   Age Height  Weight College
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0  Butler  \
454     Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0     NaN
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0     NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas
457           NaN        NaN     NaN      NaN   NaN    NaN     NaN     NaN

        Salary
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0
457        NaN

In [5]:
# 3. info(): Provide a concise summary of the DataFrame
print("\n3. info():")
print(df.info())

3. info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB
None

In [6]:
# 4. describe(): Generate descriptive statistics of the numerical columns
print("\n4. describe():")
print(df.describe())

4. describe():
           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [7]:
# 5. shape: Return the dimensions of the DataFrame
print("\n5. shape:")
print(df.shape)

5. shape:
(458, 9)

In [8]:
# 6. columns: Return the column names of the DataFrame
print("\n6. columns:")
print(df.columns)

6. columns:
Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [9]:
# 7. index: Return the index labels of the DataFrame
print("\n7. index:")
print(df.index)

7. index:
RangeIndex(start=0, stop=458, step=1)

In [10]:
# 8. dtypes: Return the data types of each column in the DataFrame
print("\n8. dtypes:")
print(df.dtypes)

8. dtypes:
Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object